* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    letter-spacing: 5px;
}

h2 {
    font-weight: 200;
    letter-spacing: 10px;
}

.header_title {
    font-size: 64px;
    color: #fff;
    text-transform: uppercase;
}

.header_paragraf {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1040px;
    min-height: 100vh;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 60px 40px 0px;
    background-color: #4D4D4F;
}

.header_photo {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #232323;
    border: 1px solid #232323;
    border-radius: 50%;
}

.header_top {
    padding: 30px 40px 30px 120px;
}

.header_photo_img {
    margin: auto;
}

main {
    display: flex;
    font-size: 18px;
    color: #949294;
    line-height: 28px;
}

aside {
    padding: 0px 40px;
    background-color: #E9EAEC;
}

.section_header {
    color: #4D4D4f;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #949294;
}

section {
    padding-top: 40px;
}

.aside_list {
    padding-top: 20px;
}

li {
    list-style: none;
}

.aducation_list {
    list-style-type: disc;
    padding-left: 20px;
}

.aducation_list::marker {
    color: #4D4D4f;
}

.main {
    padding: 0px 40px;
}

.code {
    background-color: #4D4D4f;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 18px;
    color: #949294; 
}

.footer_img {
    width: 100px;
}
