* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    letter-spacing: 5px;
}

h2 {
    font-weight: 200;
    letter-spacing: 10px;
}

.header_title {
    font-size: 64px;
    color: #fff;
    text-transform: uppercase;
}

.header_paragraf {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1040px;
    min-height: 100vh;
    margin: 20px auto;
    /*margin-top: 20px;*/
    box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.2);
}

.header {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 60px 40px 0px;
    background-color: #4D4D4F;
}

.header_photo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #E9EAEC;
    object-fit: cover;
    /*border: 1px solid #232323;*/
    border-radius: 50%;
}


.header_top {
    padding: 30px 40px 30px 120px;
}

.header_photo_img {
    margin: auto;
}

main {
    display: flex;
    font-size: 18px;
    color: #949294;
    line-height: 28px;
}

aside {
    flex-basis: 30%;
    padding: 0px 40px;
    background-color: #E9EAEC;
}

#contacts {
    font-style: italic;
}

.contact_l {
    display: flex;
    align-items: center;
}

.contact_icon {
    width: 24px;
    margin: 5px 20px 5px 0px;
}

.section_header {
    color: #4D4D4f;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 2px solid #949294;
}

section {
    padding-top: 40px;
}

.aside_list {
    padding-top: 20px;
}

li {
    list-style: none;
}

.aducation_list {
    list-style-type: disc;
    padding-left: 20px;
}

.aducation_list::marker {
    color: #4D4D4f;
}

.main {
    flex-basis: 70%;
    padding: 0px 40px;
}

.code {
    background-color: #4D4D4f;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 18px;
    color: #4D4D4f; 
}

.footer_img {
    width: 100px;
}

.footer_link {
    text-align: center;
    text-decoration: none;
    color: #4D4D4f;
}
